.nav-link-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  .navbar {
    box-shadow: none !important;
    border-bottom: none !important;
  }
  .nav-link-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #007bff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-link-underline:hover::after {
    transform: scaleX(1);
  }
  
  .submenu {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    min-width: 200px;
    z-index: 999;
  }
  
  .submenu .submenu {
    left: 100%;
    top: 0;
  }
  
  .submenu-item {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .submenu-item:hover {
    background-color: #f8f9fa;
  }
  .image-hover-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .main-image {
    width: 45vw;
    transition: 0.3s ease;
  }
  
  .hover-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8rem; 
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .image-hover-wrapper:hover .hover-gif {
    opacity: 1;
  }
  .sticky-navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }
  .sticky-navbar {
    transition: all 0.3s ease;
  }  
  .nav-link.dropdown-toggle::after {
  margin-left: 0.3rem;
  vertical-align: middle;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  padding: 0 !important;
}

.dropdown-menu .list-group-item {
  border: none;
  padding: 0.5rem 1rem;
}

.dropdown-menu .list-group-item-action:hover {
  background-color: #f8f9fa;
}

.nav-link-underline.active-underline::after {
  transform: scaleX(1);
}
@media (max-width: 992px) {
  .dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

