@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.inter-text {
  font-family: var(--font-inter), sans-serif;
}
.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  
}

.scroll-content {
  display: inline-flex;
  animation: scrollLeft 20s linear infinite;
}

.scroll-content img {
  /* height: 50px;  */
  margin-right: 40px; 
}
.logo-img {
  height: 50px; 
  width: auto; 
  margin-right: 40px;
  object-fit: contain;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
