.inter-text {
  font-family: var(--font-inter), sans-serif;
}
.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-content {
  display: inline-flex;
  animation: scrollLeft 20s linear infinite;
}

.scroll-content img {
  height: 50px; 
  margin-right: 40px; 
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
